/* Notification.css */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  background: rgba(167, 162, 162, 0.2);
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.notification h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.notification p {
  margin: 5px 0;
}

.notification button {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 600px) {
    .notification {
      width: 50%;
      right: 1%;
    }
  }
  
  @media (max-width: 400px) {
    .notification {
      background: rgba(161, 153, 153, 0.2);
      width: 80%;
      right: 1%;
      top: 0px;
      padding: 10px;
      border-radius: 6px;
    }
  
    .notification h4 {
      font-size: 14px;
    }
  
    .notification h5 {
      font-size: 12px;
    }
  
    .notification button {
      font-size: 18px;
    }
  }