.hero {
    position: relative;
}

.bannerImg {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.heroCaption {
    position: absolute;
    width: 100%;
    padding-left: 4%;
    bottom: 0;
}

.captionImg {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.heroCaption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.heroButtons {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.button {
    border: 0;
    outline: 0;
    padding: 8px 15px 8px 15px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.button.darkButton {
    color: white;
    background: #6d6d6eb3;
}

.button img {
    width: 25px;
}

.button:hover {
    background: #ffffffbf;
}

.button.darkButton:hover {
    background: #6d6d6e66;
}

.moreCards {
    padding-left: 4%;
}