.footer {
    max-width: 980px;
    margin: 20px auto 1.5rem;
    padding: 0 4%;
}

.footerIcons {
    display: flex;
    gap: 20px;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.footerIcons img {
    width: 20px;
    cursor: pointer;
}

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}

.footer ul li {
    color: #808080;
    font-size: 13px;
}

.copyright {
    color: #808080;
    font-size: 11px;
}